h2{
    font-size: 20px;
    line-height: 50px;
    padding: 10px;
    color: aqua;
}
body{
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Comic Neue', cursive;
    color: #817777;
    background-color: #fff;
    line-height: 17px;
}
p{
    text-align: justify;
    padding: 10px;
}
#logo{
    color:#fff;
    font-size: 23px;
    padding: 19px;
    float: left;
}
header{
    background-color: black;
    height: 90px;
    padding: 0;
    margin: 0;
}
nav{
    float: right;
    padding: 23px 7px 0 0;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    float: left;
    padding-left: 90px;
}
nav ul li a{
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color:aqua;
}
.principal{
    padding-left: 30%;
    width: 40%;
    margin: 0;
}
img{
    padding-left: 30%;
    width: 40%;
}